metadata:
  name: microk8s
  
resources:
  - ../../base
patches:
  - target:
      kind: StorageClass
      name: ssd-hostpath
    patch: |-
      - op: replace
        path: /parameters/pvDir
        value: /media/Storage
  - target:
      kind: Deployment
      name: agent1
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/14/value
        value: tcp://localhost:31883
      - op: replace
        path: /spec/template/spec/containers/0/env/17/value
        value: turn:localhost:8443
helmCharts:
  - name: hub
    releaseName: hub
    namespace: kerberos-hub
    repo: https://charts.kerberos.io
    version: 0.84.0
    valuesFile: ../../base/hub/kerberos-hub-values.yaml
    valuesInline:
        mqtt:
          host: "localhost"
          port: "31080"
          protocol: "ws"
          username: "yourusername"
          password: "yourpassword"
        turn:
          host: "turn:localhost:8443"
          username: "username1"
          password: "password1"
        kerberoshub:
          api:
            url: "localhost:32081"
        mongodb:
          host: mongodb.mongodb
          adminDatabase: admin
          username: "root"
          password: "yourpassword"
  - name: mongodb
    releaseName: mongodb
    namespace: mongodb
    repo: oci://registry-1.docker.io/bitnamicharts
    valuesFile: ../../base/mongodb/mongodb-values.yaml
    valuesInline:
      global:
        storageClass: "ssd-hostpath"
  - name: rabbitmq
    releaseName: rabbitmq
    namespace: rabbitmq
    repo: oci://registry-1.docker.io/bitnamicharts
    valuesFile: ../../base/rabbitmq/rabbitmq-values.yaml
    valuesInline:
      global:
        storageClass: "ssd-hostpath"
  - name: vernemq
    releaseName: vernemq
    # For some reason it doesn't work with a namespace
    #namespace: vernemq 
    repo: https://vernemq.github.io/docker-vernemq
    valuesFile: ../../base/vernemq/vernemq-values.yaml